{% extends "index.html" %}
{% block content %}
<br><div class="container">
    <form class="form-inline"  method="post"  enctype=multipart/form-data>
    <div class="row">
           <div class="col-lg-3 col-sm-3 imgUp">
             <figcaption class="figure-caption" id="image-name">Click to Predict.</figcaption>
             <br>
               <div class="form-group">
                   <div class="imagePreview"></div>
                   <div class="upload-options">
                       <label>
                           <input action = "/" type="file" name='file' class="image-upload" accept="image/*" />
                       </label>
                    </div>
                    <br><br><br><br>
                    <input type="text"  id="veggi-name" placeholder="Enter the vegitable name" display= none>
                </div>
                <!-- <i class="fa fa-times del"></i></div> -->
            </div>
       </form><!-- col-2 -->
       <i class="fa fa-plus imgAdd"></i>
   </div><!-- row -->
   <div class="row"> -->
       <button class="btn btn-primary RecipeButton" image_id="image"> Show Recipes </button>
   </div>

</div><!-- container -->

{% endblock %}
